%h1#tasks-list-title{style: "text-align:center;"} Not Turned In
%button{id: "switch-hide-turned-in", class: "btn btn-info btn-large"} Switch Turned-In

.container
  .row
    %h3 Has Duedate
    .col-md-12
      %table.table.table-striped.datatable.table-responsive.table-bordered.table-hover#tasks-list
        = render 'task_list_table', tasks: @dated_tasks
  .row
    %h3 No Duedate
    .col-md-12
      %table.table.table-striped.datatable.table-responsive.table-bordered.table-hover#undated-tasks-list
        = render 'task_list_table', tasks: @undated_tasks

