%table.table.table-striped.datatable.table-responsive.table-bordered.table-hover#tasks-list
  %thead
    %tr
      %th Name
      %th Duedate
      %th Category
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= link_to task.name, task_path(task)
        %td= task.duedate
        %td= task.category.name
        %td= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }
