.row
  = simple_form_for @interval,
    url: task_intervals_path(params[:id]),
    html: { id: 'interval-create-form' } do |f|

    -# we'd pass the task if we wanted it to pre-fill with the task duedate
    -# we must pass nil bc one can't pass nothing at all
    = render partial: 'layouts/datetime', locals: {f: f, column: :start, task: nil}
    = render partial: 'layouts/datetime', locals: {f: f, column: :end, task: nil}
    = f.button :submit, 'Create', class: 'btn-primary'
