<div class="row">
    <%= simple_form_for @interval, url: task_intervals_path(params[:id]) do |f| %>
        <%= render partial: 'layouts/datetime', locals: {f: f, column: :start} %>
        <%= render partial: 'layouts/datetime', locals: {f: f, column: :end} %>
        <%= f.button :submit, 'Create', class: 'btn-primary' %>
    <% end %>
</div>
