<%= simple_form_for @interval, url: task_intervals_path(params[:id]) do |f| %>
        <div class='col-sm-3 date' id='datetimepicker1'>
            <%= f.text_field :start, class: 'form-control', value: "" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
        </div>
        <div class='col-sm-3 date' id='datetimepicker2'>
            <%= f.text_field :end, class: 'form-control', value: "" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
        </div>
    <%= f.button :submit, 'Create', class: 'btn-primary' %>
<% end %>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
    });
</script>
