:markdown

  <style>
      li, p { font-size: large; }
  </style>

  # Goals

  1.  Track how your time is spent
  2.  "Trick" yourself into getting the things you want done, done
  3.  Stop wasting time buried in distractions and procrastinations

  ## Motivation for creating this

  1.  I have found that this system has been enormously successful as a motivation tool
      *   It does follow various guidelines set out in psychological literature
  2.  I wanted to be able to access it from any computer
  3.  I wanted to allow others to give it a shot and maybe it is a useful organization strategy for you too

  ## The Trick

  The _reason_ it works is that via some very simple data analysis,
  you can **see** the effect your procrastination is having on your
  ability to do the things you actually want. Some of this has already been enabled:

  1. [Calendar heatmap](http://bl.ocks.org/tjdecke/5558084) is implemented for visualizing
     *at what times of day* you do a task
  2. [Stacked area chart](http://bl.ocks.org/mbostock/3020685) is implemented for visualizing
     how much time is spent on each category, with a vision of how much time is being Tracked
     in total.

  If you want a sneak preview of the vision for the future, check out:

  2.  [Crossfilter](http://square.github.io/crossfilter/)
  3.  [dc.js](http://dc-js.github.io/dc.js/)

  # How To

  1.  Group your tasks into categories (e.g. for a student, each class might be a different category)
  2.  Fill the tasks into your categories (e.g. a homework assignment might be a task)
  3.  If it's useful, add subtasks to the tasks that have substantial subcomponents
  4.  Sit for an **extended period of time** solely focused on accomplishing your task
  5.  Record the time spent _actually_ focused (obviously cheating just defeats the purpose)
  6.  Do this **every time** you work on one of your tasks

  ## Become obsessive but be picky

  *   **Only track** the things that really matter to you
  *   **Obsessively track** the things that really matter to you
  *   The point here is to **quantify** the time you spend doing the things that really matter to you
  *   This way you can **know** that you are accomplishing your goal of **increasing/decreasing**
          the time you spend doing the things that really matter to you
