<h1>Goals</h1>
<style>
    li, p { font-size: large; }
</style>
<ol>
    <li>Track how your time is spent</li>
    <li>"Trick" yourself into getting the things you want done, done</li>
    <li>Stop wasting time buried in distractions and procrastinations</li>
</ol>

<h2>Motivation</h2>
<p>I have found that this system has been enormously successful as a motivation tool</p>

<h3>The Trick</h3>
<p>
    The <i>reason</i> it works is that via some very simple data analysis,
    you can <i>see</i> the effect your procrastination is having on your
    ability to do the things you actually want. But I haven't implemented
    that yet so hold your horses.
</p>
