<div class="container-fluid">
    <div class="jumbotron">
        <h1>My, how time flies!</h1>
        <p>Check it out</p>
        <a class="btn btn-primary btn-lg">Something Here</a>
    </div>
</div>
