@import "bootstrap";
@import "bootstrap-sprockets";
@import 'bootstrap-datetimepicker';
@import 'dataTables/bootstrap/3/jquery.dataTables.bootstrap';

// this is for the heatmap
// TODO turn it into nice SASS using online generator
rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}
