@import "bootstrap";
@import "bootstrap-sprockets";
@import 'bootstrap-datetimepicker';
@import 'dataTables/bootstrap/3/jquery.dataTables.bootstrap';
@import 'jquery-ui';

// this is for the heatmap
rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 2px;
}

text {
  // make the heatmap chart labels light grey
  &.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
  }
  // except make the hours 8a-5p and days Mo-Fr jet black
  &.axis-workweek, &.axis-worktime {
    fill: #000;
  }
}
