<div class='col-sm-3 date datetimepicker1'>
    <%= f.text_field column,
        class: 'form-control',
        value: @task.duedate.nil? ? "" : @task.duedate.strftime('%m/%d/%Y %I:%M %p') %>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar">
        </span>
    </span>
</div>
