<div class='col-sm-3 date datetimepicker1'>
    <%= f.text_field column, class: 'form-control', value: "" %>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar">
        </span>
    </span>
</div>
